@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600&display=swap');

html,
body {
  margin: 0;
  font-family: 'Cormorant Garamond', serif;
  --color-background: #f8f9fa;
  --color-surface: #ffffff;
  --color-primary: #0f4d92;
  --color-border: #708090;
  --color-text: #333333;
}
